/.phpunit.cache
/node_modules
/public/.htaccess
/public/build
/public/hot
/public/images
/public/storage
/public/nginx.htaccess
/storage/app/public/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/storage/*.key
/vendor

.env
.env.backup
.env.production
.phpunit.result.cache
auth.json
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
/.fleet
/.idea
/.vscode
